<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Usuários: alterar papel - SIARC: Sistema de Automação de
	Ar Condicionados</title>

<!--/*/ <th:block th:include="fragments/geral.html :: headerfiles">
        </th:block> /*/-->

<!-- Styles -->
<link rel="stylesheet" th:href="@{/css/alterar_role.css}">
</head>
<body>
	<header th:insert="fragments/geral.html :: header"> </header>
	<div class="container my-2">
		<h3 class="titlePage">Alterar Função do Usuário</h3>
	</div>
	<br>
	<div class="container text-center">
		<div class="col">
			<div class="col col-auto">
				<img th:src="@{/img/work-team.svg}">
			</div>
		</div>
	</div>

	<div class="container my-2">
		<form action="#" th:action="@{/adm/usuarios/alterar/role}"
			th:object="${roleUsuarioForm}" method="POST">
			<input type="hidden" id="id" th:field="*{id}">
			<div class="container">
				<div class="row">
					<label for="formControlInput1" class="form-label">Usuário</label> <input
						type="text" disabled="disabled" th:field="*{username}"
						class="form-control mb-4 col-4"> <label
						for="formControlInput1" class="form-label">E-mail</label> <input
						type="text" disabled="disabled" th:field="*{email}"
						class="form-control mb-4 col-4"> <label
						for="formControlInput1" class="form-label">Matricula</label> <input
						type="text" disabled="disabled" th:field="*{matricula}"
						class="form-control mb-4 col-4">
				</div>
			</div>
			<label for="formControlInput1" class="form-label">Escolha a
				Função de Usuário</label> <select id="formControlInput1"
				class="form-control mb-4 col-4" th:field="*{role}">
				<option th:each="r : ${roles}" th:value="${r}" th:text="${r}"></option>
			</select>
			<div class="d-grid gap-2 col-6 mx-auto">
				<button type="submit" class="btn btn-success">Alterar</button>
			</div>
		</form>
		<hr>
		<a th:href="@{/adm/usuarios}"><i class="bi bi-arrow-left-circle"></i>
			Retornar para a lista de usuários</a>
	</div>
	<footer th:insert="fragments/geral.html :: footer"> </footer>
</body>
</html>