<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Novo usuário - SIARC: Sistema de Automação de Ar Condicionados</title>

<!--/*/ <th:block th:include="fragments/geral.html :: headerfiles">
        </th:block> /*/-->
</head>
<body>
	<header th:insert="fragments/geral.html :: header"> </header>

	<div class="container my-2">
		<h2>Novo Usuário</h2>
		<form action="#" th:action="@{/adm/usuarios/salvar}" th:object="${usuario}" method="POST">
			<input type="hidden" id="id" th:field="*{id}">
			
			<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>
			<input type="text" th:field="*{username}" placeholder="Nome" class="form-control mb-4 col-4" required>
			
			<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
			<input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4" required>
			
			<span th:if="${#fields.hasErrors('matricula')}" th:errors="*{matricula}" class="text-danger"></span>
			<input type="text" th:field="*{matricula}" placeholder="Matrícula IFRN" class="form-control mb-4 col-4" required>
      		
      		<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
			<input type="password" th:field="*{password}" placeholder="Senha" class="form-control mb-4 col-4" required>
      		
      		<select class="form-control mb-4 col-4" th:field="*{role}" >
			    <option th:each="r : ${roles}" th:value="${r}" th:text="${r}"></option>
			</select>
			
			<button type="submit" class="btn btn-info col-2" id="btnSalvar">Salvar</button>
		</form>
		<hr>
		<a th:href="@{/adm/usuarios}">Retornar para a lista de usuários</a>
	</div>
	<footer th:insert="fragments/geral.html :: footer"> </footer>
</body>
</html>