<!DOCTYPE HTML>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--  Styles -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
	integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/geral.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{/css/first.css}">
<link rel='stylesheet' href='https://css.gg/search.css'>
<link rel='stylesheet' href='https://css.gg/home-alt.css'>
<link rel='stylesheet' href='https://css.gg/key.css'>
<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:src="@{/js/click-scroll.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</head>
<body>

	<!-- Start header ########################################################################################## -->
	<div th:fragment="header" id="header">
		<section class="preloader">
			<div class="spinner">
				<span class="spinner-rotate"></span>
			</div>
		</section>

		<nav class="navbar navbar-expand-lg" role="navigation">
			<div class="container">
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<a class="navbar-brand mx-auto mx-lg-0" href="/">SIARC </a>

				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav navbar-right ms-lg-6">
						<li class="nav-item"><a th:href="@{/home}" id="titulo">:
								Sistema de Automação de Ar Condicionados</a></li>
					</ul>
				</div>
				<div class="collapse navbar-collapse" id="navbarNav">
					<div sec:authorize="isAuthenticated()" class="d-lg-flex ms-auto">
						<ul class="navbar-nav navbar-right ms-lg-6">
							<li><a class="nav-link click-scroll" th:href="@{/home}"><i
									class="gg-home-alt"></i></a></li>
							<li><a class="nav-link click-scroll"
								th:href="@{/sys/aparelhos/busca}"><i class="gg-search"></i></a></li>
							<li><a class="nav-link click-scroll"
								th:href="@{/forgotPassword}"><i class="gg-key"></i></a></li>
							<li class="nav-item"><form name="logoutForm"
									th:action="@{/logout}" method="post">
									<button class="custom-btn btn">Sair</button>
								</form>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<div id="backHeader">
			<br> <br> <br>
			<hr>
		</div>
	</div>
	<!-- End header #################################################################################################### -->
	<!-- Rodape -->
	<div th:fragment="footer">
		<footer>
			<div class="container-footer">
				<div class="row-footer">
					<!-- footer col-->
					<div class="footer-col">
						<h4>SIARC</h4>
					</div>
					<div class="footer-col">
						<h4>Sobre o sistema</h4>
						<ul>
							<li>Sistema de Automação de Ar Condicionados</li>
							<li id="description">Software desenvolvido por alunos do 4º
								ano da turma de Informática 2019.1 do IFRN Campus João Câmara</li>
						</ul>
					</div>
					<!--end footer col-->
					<!-- footer col-->
					<div class="footer-col">
						<h4>Links úteis</h4>
						<ul>
							<li><a href="https://suap.ifrn.edu.br"><svg
										xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-link-45deg"
										viewBox="0 0 16 16">
								<path
											d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z" />
								<path
											d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z" />
							  </svg> Portal SUAP</a></li>
							<li><a href="https://portal.ifrn.edu.br"><svg
										xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-link-45deg"
										viewBox="0 0 16 16">
								<path
											d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z" />
								<path
											d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z" />
							  </svg> Portal IFRN</a></li>
							<li><a
								href="https://suap.ifrn.edu.br/centralservicos/selecionar_servico_abertura/manutencao-predial/?tab=refrigeracao"><svg
										xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-link-45deg"
										viewBox="0 0 16 16">
								<path
											d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z" />
								<path
											d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z" />
							  </svg> Contate que um aparelho está com mau funcionamento</a></li>
						</ul>
					</div>
					<!--end footer col-->
					<!-- footer col-->
					<div class="footer-col">
						<div class="medias-socias">
							<a href="#"> <i class="devicon-java-plain"></i>
							</a> <a href="#"> <i class="devicon-spring-plain"></i>
							</a> <a href="#"> <i class="devicon-mysql-plain"></i>
							</a>
						</div>

					</div>
					<!--end footer col-->
					<div class="copyright">Copyright © 2022 Siarc | IFRN-JC |
						Todos os Direitos Reservados.</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>