.color-body {
	background-color: #f2f2f2;
}

#background-card {
	background-color: #fff
}

img {
	width: 200px;
}

/* Responsivo */
@media ( max-width : 800px) {
	img {
		width: 170px;
	}
}

@media ( max-width : 600px) {
	img {
		width: 130px;
	}
}

@media ( max-width : 400px) {
	img {
		width: 100px;
	}
}