.color-body {
	background-color: #f8f8f8;
}

#background-card {
	background-color: #fff
}

img {
	width: 200px;
}

#capa {
	width: 50%;
}

/* Responsivo */
@media ( max-width : 1000px) {
	#capa {
		width: 70%;
	}
	#cards {
		width: 100%;
	}
}

@media ( max-width : 800px) {
	#img-card {
		width: 170px;
	}
	#capa {
		width: 80%;
	}
}

@media ( max-width : 600px) {
	#img-card {
		width: 130px;
	}
	#capa {
		width: 90%;
	}
}

@media ( max-width : 400px) {
	#img-card {
		width: 100px;
	}
}