<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Início - SIARC: Sistema de Automação de Ar Condicionados</title>

<!--  Styles -->
<link rel="stylesheet" th:href="@{/css/geral.css}">
<link rel="stylesheet" th:href="@{/css/home.css}">
<!--/*/ <th:block th:include="fragments/geral.html :: headerfiles">
        </th:block> /*/-->
</head>
<body class="color-body">
	<header th:insert="fragments/geral.html :: header"> </header>

	<div class="container my-2">
		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<div class="btn btn-outline-secondary">
				<i class="bi bi-person-circle"> </i><span sec:authentication="name">
					Usuário</span>
			</div>
		</div>
		<div class="container text-center">
			<div class="col">
				<div class="col col-auto">
					<img id="capa" th:src="@{/img/capa.svg}">
				</div>
			</div>
		</div>
		<h3 class="titlePage">Seja Bem vindo(a)!</h3>
		<br> <br>
		<div class="container text-center row">
			<div class="col-sm-6" id="cards">
				<div class="card mb-4 shadow-sm">
					<div class="card-header" id="background-card">
						<img id="img-card" th:src="@{/img/ar-condicionado.png}"
							alt="Aparelhos"> <br>
						<h4>APARELHOS</h4>
					</div>
					<div class="card-body">
						<ul class="list-unstyled mt-3 mb-4">
							<li sec:authorize="hasAuthority('ADMIN')">Gerenciar
								Aparelhos</li>
							<li>Ligar/Desligar Aparelhos</li>
						</ul>
						<a class="w-100 btn btn-lg btn-success"
							th:href="@{/sys/aparelhos}">Acessar</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6" id="cards">
				<div class="card mb-4 shadow-sm">
					<div class="card-header" id="background-card">
						<img id="img-card" th:src="@{/img/people.svg}" alt="Aparelhos">
						<br>
						<h4 sec:authorize="hasAuthority('ADMIN')">USUÁRIOS</h4>
						<h4 sec:authorize="hasAuthority('User')">EQUIPE</h4>
					</div>
					<div class="card-body">
						<ul class="list-unstyled mt-3 mb-4">
							<li sec:authorize="hasAuthority('ADMIN')">Gerenciar Usuários</li>
							<li>Verificar Usuários</li>
						</ul>
						<a class="w-100 btn btn-lg btn-success" th:href="@{/adm/usuarios}">Acessar</a>
					</div>
				</div>
			</div>
			<hr>
		</div>
	</div>
	<br>
	<br>
	<footer th:insert="fragments/geral.html :: footer"> </footer>
</body>
</html>