<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Ar Condicionados - SIARC: Sistema de Automação de Ar
	Condicionados</title>

<!--/*/ <th:block th:include="fragments/geral.html :: headerfiles">
        </th:block> /*/-->

</head>
<body>
	<header th:insert="fragments/geral.html :: header"> </header>
	
	<form th:action="@{/sys/aparelhos/ativos}" method="post">
				<table>
					<tr>
						<td>Nome:</td>
						<td><input type="text" th:name="nome" /></td>
					</tr>
					<tr>
						<td colspan="2"><input type="checkbox" /> Mostrar tudo</td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="Buscar" /> <input
							type="submit" value="Cancelar" /></td>
					</tr>
				</table>
				<div>
					<table>
						<tr>
							<th>Nome</th>
							<th>Endereço IP</th>
							<th>Endereço MAC</th>
							<th>Local</th>
							<th>Status</th>
							<th>Código IR Ligar</th>
							<th>Código IR Desligar</th>
							<th>Ações</th>
						</tr>
						<tr>
							<td>hyy</td>
						</tr>
						<tr th:each="aparelho : ${ligados}">
							<td th:text="${aparelho.nome}"></td>
							<td th:text="${aparelho.enderecoip}"></td>
							<td th:text="${aparelho.enderecomac}"></td>
							<td th:text="${aparelho.local}"></td>
							<td th:text="${aparelho.status}"></td>
							<td th:text="${aparelho.codigoirligar}"></td>
							<td th:text="${aparelho.codigoirligar}"></td>
							<td>Editar</td>
						</tr>
					</table>
				</div>
			</form>
</body>
</html>