<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Ar Condicionados - SIARC: Sistema de Automação de Ar
	Condicionados</title>

<!--/*/ <th:block th:include="fragments/geral.html :: headerfiles">
        </th:block> /*/-->

</head>
<body>
	<header th:insert="fragments/geral.html :: header"> </header>

	<div class="container my-2">
		<h3 class="titlePage">Ar Condicionados</h3>
		<br>

		<div class="d-grid gap-2 d-md-flex justify-content-md-start">
		<a class="btn btn-sm btn-outline-success" th:href="@{/sys/aparelhos}">Aparelhos</a>
		<a class="btn btn-sm btn-outline-success" th:href="@{/sys/aparelhos/inativos}">Aparelhos Desligados</a>
		</div>
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Endereço IP</th>
						<th>Local</th>
						<th>Status</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="aparelho : ${ligados}">
						<td th:text="${aparelho.nome}"></td>
						<td th:text="${aparelho.enderecoip}"></td>
						<td th:text="${aparelho.local}"></td>
						<td th:text="${aparelho.status}"></td>
						<td><a
							th:href="@{/sys/aparelhos/info/{id} (id=${aparelho.id})}"
							class="btn btn-info"><i class="bi bi-info-circle"></i></a> <a
							href="#" class="btn btn-warning"><i class="bi bi-power"></i></a>
							<a href="#" class="btn btn-success"><i
								class="bi bi-calendar2-plus"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<br><hr>
		<a th:href="@{/}"><i class="bi bi-arrow-left-circle"></i> Retornar
			à Página Inicial</a>
	</div>
	<br>
	<br>
	<footer th:insert="fragments/geral.html :: footer"> </footer>
</body>
</html>